{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Personalchats!</title>
        <link href="{%static 'flickxchat/chatstyle.css'%}" rel="stylesheet">
    </head>
    <body>
        <h1>PERSONAL CHATS</h1>
        <div id="selectiontable">
            <table>
                <tr>
                    <td><img src="chatbox image.png"></td>
                </tr>
            </table>
        </div>
       <div id="chattable">
        <table>
            <thead>
                <tr>
                    <th>CHATS</th>
                </tr>
                
            </thead>
            <tbody>
                <tr>
                    <td>PERSON </td>
                </tr>
                <tr>
                    <td>PERSON </td>
                </tr>
                <tr>
                    <td>PERSON </td>
                </tr>
                <tr>
                    <td>PERSON </td>
                </tr>
                <tr>
                    <td>PERSON </td>
                </tr>
                <tr>
                    <td>PERSON </td>
                </tr>
                <tr>
                    <td>PERSON </td>
                </tr>

            </tbody>
        </table>
       </div>
    
    
    </body>
</html>